@model PrinterCartridgeApp.Models.Printer

@{
    ViewData["Title"] = "PrinterAdd";
}

<h1>PrinterAdd</h1>

<h4>Printer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PrinterAdd">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Printer_Name" class="control-label"></label>
                <input asp-for="Printer_Name" class="form-control" />
                <span asp-validation-for="Printer_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Printer_Model" class="control-label"></label>
                <input asp-for="Printer_Model" class="form-control" />
                <span asp-validation-for="Printer_Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
