@model PrinterCartridgeApp.ViewModels.CartridgeViewModel
@{
}

<h1>Printer Cartridge</h1>

<h4>Issue</h4>
<hr />

<div class="row">
    <div class="col=md-4">
        <div class="form-group">
            <label asp-for="Printer_Recd_For" class="control-label"></label>
            <select asp-for="Printer_Recd_For" asp-items="Model.PrinterOptions" class="form-control" ></select>
        </div>
        <div class="form-group">
            <label asp-for="Printer_Model" class="control-label"></label>

        </div>
        <div class="form-group">
            <label asp-for="Cartridge_Type" class="control-label"></label>
            <select asp-for="Cartridge_Type" class="form-control">
                <option value="Toner">Toner</option>
                <option value="Imaging Kit">Imaging Kit</option>
                <option value="Waste Toner Bottle">Waste Toner Bottle</option>
            </select>
        </div>
    </div>
</div>
