@using PrinterCartridgeApp.Controllers
@model PrinterCartridgeApp.ViewModels.CartridgeViewModel
@{
}

<h1>Printer Cartridge</h1>

<h4>Issue</h4>
<hr />

<div class="row">
    <div class="col=md-4">
        <div class="form-group">
            <label asp-for="Printer_Recd_For" class="control-label"></label>
            <select asp-for="Printer_Recd_For" asp-items="Model.PrinterIdReturn" id="ddPrinter" class="form-control">Choose a Printer</select>
        </div>
        <div id="formPanel" runat="server" style="display: none">
            <div class="form-group">
                <label asp-for="Printer_Model" class="control-label"></label>
                <input asp-for="Printer_Model" class="form-control" id="ipPrinterModel" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Cartridge_Type" class="control-label"></label>
                <select asp-for="Cartridge_Type" class="form-control" id="ddType">
                    <option value="NA">-Select Type-</option>
                    <option value="Toner">Toner</option>
                    <option value="Imaging Kit">Imaging Kit</option>
                    <option value="Waste Toner Bottle">Waste Toner Bottle</option>
                </select>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="form-group">
    <asp:GridView id="gvCartridges" class="form-group" runat="server" BorderColor="#000000" BoderStyle="None" Borderwidth="1px" CellPadding="3" CellSpacing="5">
        
    </asp:GridView>
</div>
<div class="form-group">
    <div id="test">

    </div>
</div>

@section Scripts
{
    <script>
        $('#ddPrinter').on('change',
            function MyPrinterSelect() {
                var printerHostname = $("#ddPrinter option:selected").val()
                console.log('Printer Name: ' + printerHostname);
                var jsonObject = {
                    printerName: printerHostname
                }
                $.ajax({
                    type: 'GET',
                    url: 'GetModel',
                    contentType: 'application/x-www-form-urlencoded',
                    data: jsonObject,
                    dataType: 'json',
                    cache: false,
                    async: true,
                    success: function(result) {
                        console.log(result);
                        $("#ipPrinterModel").val(result);
                        $("#formPanel").show();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

                event.preventDefault(); // for submit button to prevent it's default action
            });

        $('#ddType').on('change',
            function MyCartridges() {
                var modelInfo = $("#ipPrinterModel").val()
                var typeInfo = $("#ddType option:selected").val()
                console.log('Cartridge Type: ' + typeInfo);
                console.log("Model Number: " + modelInfo);
                var jsonObject = {
                    pmodel: modelInfo,
                    type: typeInfo
                }
                $.ajax({
                    type: 'GET',
                    url: 'GetCartridges',
                    contentType: 'application/x-www-form-urlencoded',
                    data: jsonObject,
                    dataType: 'json',
                    cache: false,
                    async: true,
                    success: function(response) {
                        console.log(response);
                        $("#gvCartridges").html("<table class='table table-bordered' height='64' ><thead><tr><th style='width: 190px'>Cartridge ID</th><th style='width: 190px'>Cartridge Number</th><th style='width: 190px'>Cartridge Type</th><th style='width: 190px'>Printer Model</th><th style='width: 190px'>Issue Cartridge</th></thead></table>")
                        
                        for (var i = 0; i < response.length; i++) {

                            $("#gvCartridges").append("<tr class='table table-bordered' style='width: 1110px'><td style='width: 221px'>" +
                                response[i].cartridge_ID +
                                "</td><td style='width: 221px'>" +
                                response[i].cartridge_Number +
                                "</td><td style='width: 221px'>" +
                                response[i].cartridge_Type +
                                "</td><td style='width: 221px'>" +
                                response[i].printer_Model +
                                "</td><td style='width: 221px'><button name='btnIssue' class='btn btn-primary' onclick='issueCartridge(" +
                                response[i].cartridge_ID +
                                ")'>Issue</button></td></tr>")

                        };
                        

                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

                event.preventDefault(); // for submit button to prevent it's default action
            });


        function issueCartridge(chosenCartridge) {
            var printer = $("#ddPrinter option:selected").val()
            var cartridge = chosenCartridge
            console.log("Printer: " + printer);
            console.log("Cartridge: " + cartridge);
            console.log("Action: " + url);
            var jsonObject = {
                printer: printer,
                id: cartridge
            }
            $.ajax({
                type: 'POST',
                url: 'UpdateCartridge',
                contentType: 'application/x-www-form-urlencoded',
                data: jsonObject,
                dataType: 'json',
                cache: false,
                async: true,
                success: function(result) {
                    console.log(result);
                    location.reload();
                    $("#ddPrinter").val($('#ddPrinter option:first').val());
                    
                    $('#ddType').val($("#ddType option:first").val());
                    
                },
                error: function(error) {
                    console.log(error);
                }
            });


        }
    </script>
}
        
